[submodule "osworld"]
	path = osworld
	url = https://github.com/A-Mahla/OSWorld-smolagents
	branch = amir/OSWorld-smolagent-integration
[submodule "android_world"]
	path = android_world
	url = https://github.com/A-Mahla/android_world
	branch = main
